body {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    background-color: #C8FFE0;
    height: auto;
    margin: 0px;
    padding-top: 50px;
}

.titulo{
    font-family: 'Rowdies', cursive;
    font-size: 35px;
}

.subtitulos{
    font-family: 'Acme', sans-serif;
    font-size: 25px;

}
.mainContainer {
    display: flex;
    position: static;
    flex-direction: column;
}

.container {
    display: flex;
}

.encabezado {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    height: auto;
    justify-content: center;
    color: black;
    background-image: url(/ContactUs/Assets/contact\ background.webp);
    background-size: cover;
}

.navbar {
    position: fixed;
    top: 0%;
    background-color: #85E6C5;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.cuerpo {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: white;
    padding: 5%;
    margin: 5%;
    height: auto;
}

.btnForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 65%;
    margin: 5%;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    flex: 35%;
    align-content: center;
    text-align: start;
    margin: 5%;
}

p{
    font-size: small;
}
.containerForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.containerBtn {
    display: flex;
    justify-content: flex-end;

}

.formSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formTitle{
    display: flex;
    justify-content: start;
    font-weight: 500;

}

.formImput{
    padding: 16px;
    border-radius: 13px;
}



.boton {
    background-color: #614BC3;
    border: #000000 solid;
    border-radius: 13px;
    justify-content: flex-end;
    padding: 15px 40px;
    margin: 10px 70px;

}

@media (max-width:650px){
    .cuerpo{
        flex-direction: column;
    }
}