
.body-HOME{
    margin-top: 90px;
    background-color: #fff2e6;
    height: 1000px;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
}


.productos {
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    margin-bottom: 5px;
    display: table-row-group;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 20px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Rowdies', sans-serif;
    font-size: 35px;
}
  /* ESTILOS TARJETAS PRODUCTOS */
  .card-text {
    font-family: 'Acme', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

.subtitulo {
    text-align: center;
    padding: 40px;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}


.container_cards {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
     
  .tarjeta {
    width: 300px;
    margin: 10px;
    transition: all, 300ms;
}

.tarjeta:hover {
    width: 350px;
    height: 300px;
}

.tarjeta .cover {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.tarjeta .cover .image {
    width: 250px;
    display: block;
    margin: auto;
    top: 40px; 
}

.tarjeta:hover.cover .image {
    top: 0px;
}

.tarjeta .description {
    background-color: #e4e8f1;
    margin-top: -10px;
    padding: 20px;
}

.tarjeta .description {
    margin-top: 10px;
    font-size: 18px;
}

.nombre {
    text-align: center;
}

.descripcion {
    text-align: center;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
}



.nombre {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

/* SE AÑADE UN PADING A VIDEO  */

/*TEXTO DE CARRUSEL*/
.parrafo1 {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

.texto, .texto1 {
    color: #0e093d;
}

/*ICONOS CONTACTO*/
.lista-contacto {
    list-style: none;
    display: inline;
    padding: 5px;
}

/*IMAGEN*/
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.descuento {
    color: #ffffff;
    font-family: 'Rowdies', sans-serif;
    font-size: 30px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width:800px){
    .containerContactoAcercaDe{
        height: auto;
        align-self: center;
    }
    .iconosContactoAcercaDe {
        height:  50px;
        margin: 15px;
    }
    .textoContactoAcercaDe{
        display: none;
    }
  
  }
/*Agregar a cada página para la responsividad de navbar*/
  @media (max-width: 525px) {
    .body-HOME {
        margin-top: 70px;
    }
  }

/* ESTILOS DEL DIV DEL VIDEO */
.video-container {
    max-width: 100%; /* Establece un ancho máximo del 100% del contenedor padre */
    margin: 5%; /* Centra el div horizontalmente en el viewport */
}

.video-container video {
    width: 100%; /* Asegura que el video se ajuste al 100% del ancho del div */
    height: auto; /* Ajusta automáticamente la altura en función del ancho */
}

@media(max-width: 500px) {
    .descuento {
        font-size: 15px;
    }
}
