.acercade {
  background-color: #fff2e6;;  
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.tituloNos{
  font-family: "Rowdies",sans-serif;
  font-size:35px ;
  text-align: center;
}

.subtituloNos{
  font-family: "Acme",sans-serif;
  font-size:25px;
  
}

.textoNos{
  font-family: "Cabin",sans-serif;
  font-size: 18px;
  text-align: justify;
  padding: auto;
  margin-right: 50px;
}

.somos{
  display: flex;
  margin-left: 5%;
  margin-right: 8%;
  margin-top: 2%;
}

.containerSomos{
  padding: 10px;
  margin: 30px;
}

.misiNos{
  text-align: center;
  padding-top: 30px;
}
.imgNos{
  align-items: center;
  margin-top: 10%;
  min-width: 20vw;
}

.misión{
  display: flex;
  padding: 24px;
  margin-left: 7%;
  margin-right: 5%;
}

.misi{
  margin-right: 8%;
}
.descripcionNos{
  align-items: center;
  align-content: center;
  padding-top: 30px;
}

.img-fluid{
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.equipo{
  text-align: center;
}

.container_cards {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta {
  width: 300px;
  margin: 10px;
  transition: all, 300ms;
}

.tarjeta:hover {
  width: 350px;
  height: 650px;
}

.tarjeta .cover {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.tarjeta .cover .image {
  width: 250px;
  display: block;
  margin: auto;
  top: 40px; 
}

.tarjeta:hover.cover .image {
  top: 0px;
}

.tarjeta .description {
  background-color: rgb(241, 223, 186);
  margin-top: -10px;
  padding: 20px;
}

.tarjeta .description{
  margin-top: 10px;
  font-size: 18px;
}

.nombre{
  text-align: center;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 25px;
}

.descripcion {
  text-align: justify;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
}

/* Estilos para pantallas más pequeñas (móviles) */
@media (max-width: 1000px) {
  .somos, .misión, .containerSomos, .textoNos{
      flex-direction: column; /* Cambiar a una disposición de columna en pantallas pequeñas */
      margin-right: 2%;
      margin-left:2% ;
      padding: 1%
  }
  .tropico{
    text-align: center;
  }
  .nosotros, .misi{
  min-width: 10px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  }

}

