.barra{
    position: fixed;
    top: 0%;
    height: 120px;
    width: 100vw;
    z-index: 20; 
}

.titulo-navbar {
    font-family: 'Rowdies', sans-serif;
    font-size: 25px;
    padding-left: 20px;
}

.seccion-navbar:hover {
    color: #ffeee3;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.img-logo {
    display: flex;
}

.navbar {
  background: linear-gradient(to right, #ffeee3, #e9ac67, #f7a446, #ff9215);   
}


.logo-img {
    width: 80px; 
    margin-left: 20px;
    overflow: hidden;
  }
  
.imgLogo{
    transition: 0.5s;
    object-fit: cover;
  }

.imgLogo:hover{
    transform: scale(1.2);
  }

.secciones-navbar {
    justify-content: end;
    
  }

.navbar-nav {
    justify-content: center;
  }

  /*ICONOS NAVBAR*/
.lista-iconos {
  list-style: none;
  display: flex;
  margin-right: 10px; 
  padding: 10px;
  position: relative;
  
}

.invisible {
  display: none;
}

 
@media (max-width: 1000px) {
    .titulo-navbar {
       font-size: 20px;
    }
    .logo-img {
       text-align: center;
     }
     .button {
      padding-left:  20px;
     }
     .contenido {
      display: flex;
      align-items: center;
    }
    
    .lista-iconos {
      display: none;
      position: relative;
      position: static;
    }

    .boton {
     margin-left: auto;
    }
  }
 @media(max-width:600px) {
  .titulo-navbar{
    display: none;
  }
 }

  @media (max-width:500px) {
    .titulo-navbar {
        font-size: 17px;
    }
    .logo-img {
        width: 60px; 
        margin-left: 20px;
        overflow: hidden;
    }
  }


  
  

  
  