/* seccion carrito */
 /* .carrito {
        position: absolute;
        top: 130%; /* Ajusta la posición vertical según tus necesidades */
       /* right: 0;
        width: 300px; /* Ajusta el ancho según tus necesidades */
        /*border: 1px solid #666;
        border-radius: 10px;
        overflow: hidden;
        z-index: 999; /* Asegura que el carrito esté por encima de otros elementos */
    /*transform: translateY(-50%);
    margin-right: -100%;
    opacity: 0;
}  */

.carrito {
    position: fixed;
    min-height: 120px;
    width: auto;
    text-align: center;
    word-wrap: break-word;
    right: 0;
    
} 

     /* position: sticky !important;
    /* position: absolute; */
    /* margin-top: 30px; /* Ajusta la posición vertical según tus necesidades */
   /*top: 120px;
   right: 0; */

   /* width: 35%; Ajusta el ancho según tus necesidades
   border: 1px solid #666;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    transition: .3s;
/* margin-left: auto; */
/*opacity: 0;*/
/* z-index: 999; */

.carrito .header-carrito{
    background-color:#e8b85f;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
    background-color: #f7be7e;
    border: 1px solid rgb(231, 135, 26);
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background-color: #f7be7e;
    border: 1px solid rgb(231, 135, 26);
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
    background-color: #fff2e6;
}

.carrito-total{
    background-color: #fff2e6;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    background-color: #f7be7e;
    border: 1px solid rgb(231, 135, 26);
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;

}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: flex;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 35%;
    }
  }