.encabezado-prod {
  flex-direction: column;
  height: 350px;
  width: auto;
  justify-content: center;
  background-size: cover;
  position: static;
  background-image: url(../Assets/Fondo.png);
}

.titulo-prod {
  font-size: 35px;
  font-family: 'Rowdies', sans-serif;
  text-align: center;
  color: rgb(252, 252, 252);
  padding-top: 120px;
}

.product{
  background-color: #C8FFE0;
}

.card {
  margin: 25px;
}

.list-group{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila */
  grid-gap: 10px; 
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;

}

<<<<<<< HEAD
@media (max-width:850px){
  .list-group{
    display: flex;
    margin: 10%;  
=======
@media (max-width:700px){
  .list-group{
    display: flex;  
      
>>>>>>> Ricardo-carrito
  }
}

.card-img-top {    
overflow: hidden;
width: auto;
<<<<<<< HEAD
height: 100%;
=======
height: 475px;
>>>>>>> Ricardo-carrito
text-align: center;
transition: transform 0.2s ease;
display: block;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.sticky-element {
  position: sticky;
  z-index: 20;
  top: 0; /* Ajusta el valor según tu diseño */
}

.btn{
  background-color: #A66CFF;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  color: white;
  border: solid #A66CFF;
}

/* Estilos del footer contacto */
.containerContactoLI {
  display: flex;
  padding: 10px;
  margin: 15px;
  height: auto;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.contactoLI{
  padding-left: 1%;
  padding-right: 1%;

}

.iconosContactoLI {
  height: 35px;
  width: auto;
}

@media (max-width:800px){
  .containerContactoLI{
      height: auto;
      align-self: center;
  }
  .iconosContactoLI {
      height:  50px;
      margin: 15px;
  }
  .textoContactoLI{
      display: none;
  }

}