.encabezado-prod {
  flex-direction: column;
  height: 350px;
  width: auto;
  justify-content: center;
  background-size: cover;
  position: static;
  background-image: url(../Assets/Fondo.png);
}

.titulo-prod {
  font-size: 35px;
  font-family: 'Rowdies', sans-serif;
  text-align: center;
  color: rgb(252, 252, 252);
  padding-top: 120px;
}

.product{
  background-color: #85E6C5;
}

.card {
  margin: 25px;
}

.list-group{
  display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila */
    grid-gap: 10px; 
}

@media (max-width:500px){
  .list-group{
    display: flex;  
      
  }
}

.card-img-top {    
overflow: hidden;
width: auto;
height: 475px;
text-align: center;
transition: transform 0.2s ease;
display: block;
}

.card-img-top:hover {
  transform: scale(1.2);
}

/*.imgencss{
  width: 250px; /* Opcional: Esto hará que la imagen se ajuste al ancho del contenedor card */
  /*height: 250px; /* Esto conservará la proporción original de la imagen */
  /*transition: 0.10s;
  object-fit: cover;
  max-width: 345Spx; /* Tamaño fijo máximo (ajusta esto según tus necesidades) */
  /*max-height: 150px; /* Tamaño fijo máximo (ajusta esto según tus necesidades) */
/*}*/

.sticky-element {
  position: sticky;
  z-index: 20;
  top: 0; /* Ajusta el valor según tu diseño */
}
