.encabezado {
  flex-direction: column;
  height: 350px;
  width: auto;
  justify-content: center;
  background-size: cover;
  position: static;
  background-image: url(../Assets/Fondo.png);
}

.titulo {
  font-size: 35px;
  font-family: 'Rowdies', sans-serif;
  text-align: center;
  color: rgb(252, 252, 252);
  padding-top: 120px;
}

.color_b{
  background-color: #85E6C5;
}

.card {
  margin: 20px;
}
.list-group{
  display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila */
    grid-gap: 10px; 
}

@media (max-width:500px){
  .list-group{
    display: flex;
    
      
  }

.card-img-top {
    
    
  overflow: hidden;
}

.imgencss{
  width: 100px; /* Opcional: Esto hará que la imagen se ajuste al ancho del contenedor card */
  height: 350px; /* Esto conservará la proporción original de la imagen */
  max-width: 246px; /* Tamaño fijo máximo (ajusta esto según tus necesidades) */
  max-height: 150px; /* Tamaño fijo máximo (ajusta esto según tus necesidades) */
  transition: 0.5s;
  object-fit: cover;
}

.imagencss:hover{
  transform: scale(1.2);
}}

.sticky-element {
  position: sticky;
  z-index: 20;
  top: 0; /* Ajusta el valor según tu diseño */
}