.navbar {
  background-color: #85E6C5 !important;
}

.navbar {
  background-color: #85E6C5 !important;
  font-family: 'Acme', sans-serif;
  font-size: 25px;
  font-weight: 600;

}

.navbar-nav {
  margin: 0 auto; 
  
}

.navbar-nav.ml-auto {
  margin-right: 0; 
  font-family: 'Acme',sans-serif;
  display: flex;
  justify-content: center;
  align-items:center;
  
}
/*Se agregó el container para evitar deformaciones al momento de hacer union con otras paginas*/
.logoContainerCu{
  display: flex;
  align-items: center;
}
.logo-img {
  width: 100px; 
  margin-right: 5px;
  overflow: hidden;
}

img{
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}

img:hover{
  transform: scale(1.2);
}

.marcaTB{
    display: flex;
   font-size: 35px;
   justify-content: center;
   margin-left: 20px;
   
   
}

#letter{
  color: white;
}

#letter:hover{
  color: rgba(255, 155, 93, 0.954);
}

.collapse{
  
  flex-grow: unset;
}

#menuDer{
  
  justify-content:end;
}

#tiLL{
   font-family: 'Rowdies',sans-serif; 
   font-size: 35px;
}

#pru{
  color: black;
}

#pru:hover{
  color: azure;
}



